{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'event/detailbg.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'event/navbar.css' %}" />

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'event/css/bootstrap.min.css' %}" rel="stylesheet">
<title>About</title>
</head>

<ul>
  <!--<li><a href="/"><< Home</a></li>-->

  <li class="w3-xlarge"><a href="/"><i class="glyphicon glyphicon-home"></a></i></li>

  <!--<li style="float:right"><a href="adminhome">VIP</a>-->
  <li style="float:right"><a href="about">About</a>
</ul>

<body>
<h1>About Event Application</h1>
This app built for someone need to create event or finding event. It's will make you decide <br>
แอพนี้สร้างเพื่อให้คนที่สนใจจะจัดงาน event หรือหางาน event ใหม่ๆที่ไม่เป็นที่รู้จักได้ทำการตัดสินใจง่ายขึ้น

<h2>App feature</h2>
- create event<br>
- sign name interested event<br>
- count number people sign name
</body>
</html>
